body {
     margin: 0;
     padding: 0;
     background-color: #353a44;
     font-family: Helvetica, sans-serif
}

main {
     display: flex;
     height: auto;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
}

.max-vh {
     height: 100vh;
}

.to-do-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 501px;
     height: 105px;
     border-radius: 51px;
     box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.2);
     background-color: #5d5068;
     transform: scale(0.9);
}

.to-do-btn .td-btn-text {
     font-family: Helvetica;
     font-size: 44px;
     font-weight: bold;
     color: #f599b7;
     margin-left: 20px;
}

.add-btn {
     margin-left: 20px;
     width: 56px;
     height: 56px;
     border-radius: 50%;
     font-size: 60px;
     line-height: 60px;
     font-weight: lighter;
     background-color: #353a44;
     color: #089799;
     text-align: center;
     margin-right: 20px;
     cursor: pointer;
}

.modal {
     z-index: 1;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.503);
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.active {
     height: 0px !important;
}

.popup {
     position: relative;
     width: 700px;
     height: 454px;
     border-radius: 14px;
     background-color: #353a44;
     padding: 10px;
}

.hidden {
     display: none !important;
}

.pop-title {
     text-align: center;
     padding: 25px 0px;
     font-family: Helvetica;
     font-size: 24px;
     font-weight: bold;
     color: #089799;
}

.pp-add-task {
     font-family: Helvetica;
     font-size: 18px;
     font-weight: 300;
     color: #df678f;
}

.pp-container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 10px 60px;
}

.pp-container>* {
     width: 100%;
     padding-bottom: 25px;
}

.ip {
     margin: 6px 0px;
     outline: none;
     border: none;
     border-bottom: 1px solid #756283;
     font-family: Helvetica;
     font-size: 18px;
     font-weight: 300;
     color: #756283;
     background: #353a44;
}

.flexed {
     display: flex;
     justify-content: center;
     align-items: center;
}

.landscape {
     width: 100%;
}

::placeholder {
     font-size: 16px;
     color: #756283;
}

.pp-date-time>* {
     width: 50%;
}

.ipd {
     width: 90%;
}

.labels {
     font-family: Helvetica;
     font-size: 14px;
     font-weight: 300;
     padding-right: 20px;
     color: #df678f;
}

.ip-radio {
     display: flex;
     justify-content: center;
     align-items: center;
}

.pp-footer {
     padding-top: 40px;
}

.green-btn {
     margin-left: 150px;
     text-align: center;
     line-height: 51px;
     font-family: Helvetica;
     font-size: 18px;
     font-weight: bold;
     color: #089799;
     width: 141px;
     height: 51px;
     border-radius: 7px;
     border: 2px solid #756283;
     cursor: pointer;
}

.to-do-list {
     margin-top: 20px;
     width: 80%;
     height: auto;
     background-color: #32303a94;
     border-radius: 16px;
     padding: 20px 50px 20px 50px;
     margin-bottom: 20px;
}

.scale-out {
     transform: scale(0.7);
}

.search-bar {
     width: 100%;
     height: 44px;
     justify-content: space-between;
}

.search-btn {
     width: 220px;
     height: 42px;
     border: 1px solid #df678f;
     border-radius: 42px;
     cursor: pointer;
     background-color: #353a44;
}

.search {
     position: relative;
     height: 12px;
     width: 12px;
     border: 2px solid #089799;
     border-radius: 50%;
     transform: translateY(-2px);
}

.search::after {
     content: "";
     position: absolute;
     height: 7px;
     width: 2px;
     background-color: #089799;
     left: 13px;
     transform: rotate(-45deg);
     top: 10px
}

.ip-search {
     outline: none;
     border: none;
     color: #089799;
     background: #353a44;
     /* line-height:42px; */
}

.taskpanel-title {
     font-family: Helvetica;
     /* font-size: 36px; */
     margin: 0;
     font-size: 32px;
     letter-spacing: 1.18px;
     font-weight: 300;
     color: #089799;
}

.tasks-container {
     height: 250px;
     width: 100%;
     overflow: hidden;
}

#cont-scroll::-webkit-scrollbar {
     width: 4px;
}

#cont-scroll::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background-color: #df678f;
}

#cont-scroll::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     background-color: #32303a94;
     border-radius: 4px;
     width: 4px;
}

.modes {
     justify-content: flex-end;
}

.modes>* {
     margin: 0px 10px;
     color: #089799;
     padding: 5px 20px;
}

.m-active {
     border-radius: 20px;
     border: 1px solid #df678f;
     transition: 0.2s ease-in-out;
}

.item-left {
     position: absolute;
     left: 100px;
     color: #df678f;
}

.task-img {
     height: 50px;
     width: 50px;
     border: 1px solid #df678f;
     border-radius: 50%;
     margin-right: 30px;
     font-size: 20px;
     line-height: 50px;
     color: #089799;
     background: #353a44;
     text-align: center;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     text-transform: uppercase;
}

.task-img:hover {
     background-color: #df678f;
     color: #353a44;
     font-weight: 400;
     transition: 0.2s ease-in;
}

.task-box {
     width: 50%;
}

.tasks {
     padding-top: 10px;
}

.task-card {
     justify-content: flex-start;
     padding: 12px;
     border-bottom: 1px solid #756283;
     transition: 0.1s ease-out;
     border-radius: 12px;
}

.task-card:hover {
     transition: 0.1s ease-in;
     border-bottom: 1.4px solid #089799;
     transform: translateY(-1.4px);
     background: rgba(39, 39, 39, 0.356);
     border-radius: 12px;
}

.task-card:hover .close-tag {
     opacity: 1;
     transition: 0.4s ease-in-out;
     display: block;
}

.task-name {
     font-size: 20px;
     font-weight: 300;
     color: #089799;
}

.task-desc {
     font-family: Helvetica;
     font-size: 14px;
     font-weight: 300;
     color: #df678f;
     padding-top: 8px;
}

.task-rem {
     font-size: 14px;
     font-weight: 300;
     color: #089799;
     padding-right: 30px;
     text-align: center;
}

#alert-name,
#alert-time,
#alert-date {
     color: #089799;
     position: absolute;
     font-size: 14px;
     text-align: right;
}

#alert-name {
     margin: -18px 0px 0px 100px;
}

#alert-time {
     margin: -19px 0px 0px 68px;
}

#alert-date {
     margin: -19px 0px 0px 68px;
}

.see-all {
     padding-top: 10px;
     color: #df678f;
     text-align: right;
     width: 97%;
     cursor: pointer;
}

.see-all-active {
     height: 300px;
     overflow-y: auto;
}

.all,
.cmp,
.act {
     cursor: pointer;
}

.close-tag {
     position: relative;
     cursor: pointer;
     display: none;
}

.close {
     width: 3px;
     height: 18px;
     background-color: #089799;
     transform: rotate(-45deg);
}

.close::after {
     content: "";
     position: absolute;
     background-color: #089799;
     height: 18px;
     width: 3px;
     transform: rotate(90deg);
}

.back,
.next {
     display: inline-block;
     padding: 8px 20px;
     height: 20px;
     font-size: 18px;
     background: #353a44;
     color: #df678f;
     border: 2px solid #756283;
     border-radius: 20px;
}

.nav-btn {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 90%;
     padding-top: 10px;
}

.clear-cmp:hover {
     color: #df678f;
     transform: scale(1.01);
     transition: 0.2s ease-in-out;
     cursor: pointer;
}

.tick {
     background-color: #df678f;
     width: 3px;
     height: 24px;
     transform: rotate(-135deg)translate(-2px, 2px);
}

.tick::before {
     content: "";
     margin-left: 2px;
     margin-top: -4px;
     position: absolute;
     background-color: #df678f;
     width: 3px;
     height: 10px;
     transform: rotate(90deg);
}

.bg-green {
     background-color: #353a44 !important;
}

.sort-type {
     /* position: absolute; */
     height: 40px;
     line-height: 40px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
}

.sel-item:hover {
     color: #089799;
     transform: scale(1.018);
     transition: 0.1s ease-in;
     border-radius: 12px;
}

.sel-item {
     height: 40px;
     min-width: 95px;
     text-align: center;
     color: #089799;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.list-panel {
     z-index: 1;
     /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
     list-style: none;
     position: absolute;
     height: auto;
     overflow: auto;
     padding: 0px;
     margin-top: 95px;
     margin-left: 2px;
     border-radius: 8px;
     border: 1px solid rgb(53, 58, 68);
     box-shadow: 0px 0px 3px #353a44;
     opacity: 1;
     transition: 0.6s ease;
     background: #df678f;
}

li {
     font-size: 14px;
     width: 120px;
     background-color: rgb(53, 58, 68);
     text-align: left;
     color: #df678f;
     padding-left: 13px;
     margin: 0;
     box-shadow: 0 15px 45px rgba(0, 0, 0, 0.404);
}

li:hover {
     
     transition: 0.21s;
     color: #089799;
     font-weight: 400;
     background-color: #3d3a46;
    padding-left:10px;
}

.overflow-hide {
     transition: 0.7s ease;
     opacity: 0;
     overflow: hidden !important;
     height: 0 !important;
     border: none !important;
}

.caret {
     margin-left: 20px;
     height: 10px;
     width: 2px;
     background-color: #089799;
     transform: rotate(-45deg);
}

.caret::after {
     content: "";
     position: absolute;
     height: 10px;
     width: 2px;
     background-color: #089799;
     transform: rotate(90deg);
     margin-left: 4px;
     margin-top: 4px;
}

.ctr-container {
     font-size: 14px;
     width: 300px;
     color: #089799;
     font-weight: lighter;
}

.ctr-containe {
     color: #089799;
     width: 300px;
}

.counter {
     font-family: 'Inconsolata', sans-serif;
     font-size: 20px;
     font-weight: 900;
     line-height: 25px;
     /* padding: 2px; */
     /* letter-spacing: 1.2px; */
     text-align: center;
     margin: auto;
}

.counter:nth-child(1) {
     margin-left: 0px;
}

.ctr-bold {
     position: relative;
     display: inline-block;
     color: #089799;
     width: 24px;
     background: #353a44;
     font-weight: normal;
     padding: 4px 4px;
     margin: 0 3px;
     box-shadow: 0px 1px 3px #df678f;
     border-radius: 6px;
}

.ctr-bold::after {
     content: "";
     background: #2b2931;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     position: absolute;
     z-index: -1;
     width: 32px;
     height: 1px;
     margin-top: 12px;
     margin-left: -26px;
}

input[type="radio"] {
     display: none;
}

input[type="radio"]:checked+.l-span {
     background: #ffe48b;
     width: 8px;
     height: 8px;
     border: 2px solid #756283;
}

input[type="radio"]+.l-span {
     display: inline-block;
     background: #756283;
     border-radius: 50%;
     height: 11px;
     width: 11px;
}